name: Deploy Android App to Play Store
on:
  push:
    branches:
      - android-release
jobs:
  # internal test
  release-android:
    name: Build and release Android app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17.x'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.1'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
          working-directory: android
      - run: flutter clean
      - name: Install packages
        run: flutter pub get
      - run: echo '${{ secrets.SIGNING_PROPERTIES }}' | base64 -d > ./android/signing.properties
      - run: echo '${{ secrets.PRIVATE_ANDROID_API_KEY }}' | base64 -d > ./android/playstore-api-key.json
      - run: echo '${{ secrets.ANDROID_KEYSTORE_BASE64 }}' | base64 -d > ./android/monday-key.jks
      - run: echo "${{ secrets.FIREBASE_OPTIONS }}" | base64 -d > ./lib/firebase_options.dart
      - run: echo '${{ secrets.GOOGLE_SERVICES_ANDROID }}' | base64 -d > ./android/app/google-services.json
      - run: echo '${{ secrets.ANDROID_STRING_SECRET }}' | base64 -d > ./android/app/src/main/res/values/strings_secret.xml
      - run: echo '${{ secrets.DOTENV }}' | base64 -d > .env
      - name: Prebuild
        run: flutter build appbundle
      - name: Execute Fastlane command
        run: cd android && fastlane beta
